@import "fonts";
@import "vendor";
@import "vars";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  background: url(../img/bg_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: rgb(31, 31, 31);
}
a {
  text-decoration: none;
  color: #333;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.auth {
  padding: 25px;
  background: rgb(244 244 244 / 30%);
  backdrop-filter: blur(2px);
  border-radius: 15px;
  .auth_title {
    display: flex;
  }

  /*   .show_form {
    display: block;
  } */
  .auth_sing-in_form {
    display: flex;
    flex-direction: column;
    position: relative;
    .fa-eye-slash {
      position: absolute;
      right: 5px;
      bottom: calc(50% - 7px);
      cursor: pointer;
      &.active {
        color: rgb(255, 53, 53);
      }
    }
    .fa-unlock-alt {
      position: absolute;
      left: 2px;
      bottom: calc(50% - 6px);
    }
    .fa-envelope {
      position: absolute;
      left: 2px;
      bottom: calc(50% - -63px);
    }
  }
  .auth_sing-in_title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    width: 80px;
    cursor: pointer;
    span {
      color: rgb(255, 53, 53);
    }
    &.show {
      position: relative;
    }
    &.show::after {
    }
  }
}

.auth_sing-in_form-input {
  background: rgb(226, 226, 226);
  border-radius: 15px;
  border: none;
  padding: 7px 30px 7px 7px;
  position: relative;
  margin-left: 25px;
}

label {
  margin-bottom: 5px;
}

.auth_sing-in_form-btn {
  border-radius: 15px;
  border: none;
  text-transform: uppercase;
  padding: 8px;
  background: #333;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
  margin: 20px 0;
  &:hover {
    transition: 0.2s;

    .not_hover {
      color: #fff;
      font-weight: 600;
      transition: 0.2s;
    }
    .hover {
      transition: 0.2s;
      color: rgb(255, 53, 53);
    }
  }
  .not_hover {
    transition: 0.2s;
    color: rgb(255, 53, 53);
    font-weight: 600;
  }
}
button:active,
button:focus,
input:active,
input:focus {
  outline: none;
}

.gorget {
  font-size: 12px;
  padding-top: 5px;
}

.auth_sing-in_form-input.email {
  margin-bottom: 15px;
}

.auth_sing-in_social {
  display: flex;
  justify-content: space-evenly;
}

.btn_close {
  opacity: 0.5;
}
.auth_sing-in {
  display: none;
}
.btn-2,
.btn-1 {
  position: relative;
}
#tab-btn-1:checked ~ .btn-1:before {
  width: 100%;
  content: " ";
  position: absolute;
  height: 2px;
  background: rgb(255, 53, 53);
  bottom: -3px;
  left: 0;
}
#tab-btn-2:checked ~ .btn-2:before {
  width: 100%;
  content: " ";
  position: absolute;
  height: 2px;
  background: rgb(255, 53, 53);
  bottom: -3px;
  left: 0;
}
#tab-btn-1:checked ~ #content-1,
#tab-btn-2:checked ~ #content-2,
#tab-btn-3:checked ~ #content-3 {
  display: block;
}

#tab-btn-1,
#tab-btn-2 {
  visibility: hidden;
}
#tab-btn-1 {
  margin-bottom: 25px;
}

.unlock_two {
}
.auth .auth_sing-in_form .fa-unlock-alt.unlock_two,
.auth .auth_sing-in_form .fa-eye-slash.eye_two {
  bottom: calc(50% - 45px);
}

.auth .auth_sing-in_form .fa-unlock-alt.unlock,
.auth .auth_sing-in_form .fa-eye-slash.eye {
  bottom: calc(50% - -10px);
}

.auth .auth_sing-in_form .fa-envelope.email {
  bottom: calc(50% - -82px);
}

.admin {
  font-size: 34px;
  color: lemonchiffon;
}
